<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    @page title_template { margin: 5cm; }
    @page regular_template { margin: 2cm; }

</style>
</head>
<body>
<table style="border: #313131 1px solid; padding: 3px">
<tbody><tr>
<td style="font-weight: 500; width: 20%">Name</td>
<td style="font-weight: 500; width: 20%">Branch</td>
<td style="font-weight: 500; width: 20%">Batch</td>
<td style="font-weight: 500; width: 20%">Roll Number</td>
</tr>
{% for i in obj %}
<tr>
<td style="  width: 20%; ">{{ i.name }}</td>
<td style=" width: 20%;">{{ i.branch }}</td>
<td style="width: 80%">{{ i.batch }}</td>
<td style="  width: 20%;">{{ i.roll_number }}</td>
    {#<td style="font-weight: 500; width: 20%">Profile</td><td style="height: 100px">{% if i.profile %}<img   src="media/{{ i.profile }}">{% endif %}</td></tr>#}

{#<td style="font-weight: 500; width: 20%">Gender</td><td style="width: 80%">{{ i.gender }}</td> #}
{#<td style="font-weight: 500; width: 20%">DOB</td><td style="width: 80%">{{ i.dob }}</td> #}
{#<td style="font-weight: 500; width: 20%">Father name</td><td style="width: 80%">{{ i.Father_name }}</td> #}
{#<td style="font-weight: 500; width: 20%">Mother name</td><td style="width: 80%">{{ i.Mother_name }}</td> #}
{#<td style="font-weight: 500; width: 20%">Mobile number</td><td style="width: 80%">{{ i.mobile_number }}</td> #}
{#<td style="font-weight: 500; width: 20%">Parent mobile number</td><td style="width: 80%">{{ i.parent_mobile_number }}</td> #}
{#<td style="font-weight: 500; width: 20%">Adhar Number</td><td style="width: 80%">{{ i.adhar_number }}</td> #}
{#<td style="font-weight: 500; width: 20%">Address</td><td style="width: 80%">{{ i.full_address }}</td> #}
{#<td style="font-weight: 500; width: 20%">Marksheet</td><td style="height: 100px"><img   src="media/{{ i.marksheet_10 }}"> <samp>  </samp><img   src="media/{{ i.marksheet_12 }}"></td> #}
    </tr>


{% endfor %}
</tbody>
</table>
</table>
</body>
</html>